.features-center {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
}

    .features-center article {
        padding: 1.75em 1.75em 0.1em 1.75em ;
        background-color: #353849;
        border-radius: 5px;
        margin: 1.5em 3em 1.5em 0;
        width: calc(50% - 1.5em);
    }
